/* .postLike {
  display: flex;
  background: white;
  margin: 4rem;
}
.left {
  flex: 0 0 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;

}
.right {
  flex: 1;
  border: 1px solid black;

} */
